* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #d5eafa;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    height: 100%; 
    justify-content: flex-start;
    margin: 0;
}

body.home {
    background: linear-gradient(90deg, rgba(40,139,203,1) 0%, rgba(111,188,255,1) 100%);
    justify-content: center;
}

.header {
    background: linear-gradient(90deg, rgba(40,139,203,1) 0%, rgba(111,188,255,1) 100%);
    color: #ffffff;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
}

.header-title {
    font-family: 'Amatic SC', 'Open Sans', sans-serif;
    margin: 0;
}

.header-title a {
    color: #ffffff;
    text-decoration: none;
}

.header-tld {
    opacity: 0.75;
}

.header-quote {
    font-weight: 300;
    margin: 0 auto;
    opacity: 0.75;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.nav-item {
    align-items: center;
    border: 2px solid #6DBBFE;
    border-radius: 10rem;
    color: #ffffff;
    display: flex;
    font-weight: 600;            
    justify-content: center;
    margin: 0 0.25rem;
    text-align: center;
    text-decoration: none;
}

.nav-item.prep {background-color: #FF4549;}
.nav-item.one {background-color: #194EE8;}
.nav-item.four {background-color: #53524F;}
.nav-item.five {background-color: #05A41E;}
.nav-item.six {background-color: #9A0EFF;}

.nav-item.prep:hover,
.nav-item.one:hover,
.nav-item.four:hover,
.nav-item.five:hover,
.nav-item.six:hover {border-color: #def0ff;}

.content {
    margin: 0 auto;
}

@media screen and (max-width: 42em) {

    .header-title {
        font-size: 3rem;
    }

    .header-quote {
        font-size: 0.8rem;
        max-width: 80vw;
    }

    .nav-item {
        font-size: 0.8rem;
        height: 3rem;
        width: 3rem;
    }

    .content {
        font-size: 1rem;
        margin: 0;
        padding: 0 2rem;
    }
}

@media screen and (max-width: 64em) and (min-width: 42em) {

    .header-title {
        font-size: 4rem;
    }

    .header-quote {
        font-size: 1rem;
        max-width: 70vw;
    }

    .nav-item {
        font-size: 1rem;
        height: 4rem;
        width: 4rem;
    }

    .content {
        font-size: 1.1rem;
        width: 36rem;
    }
}

@media screen and (min-width: 64em) {

    .header-title {
        font-size: 5rem;
    }

    .header-quote {
        font-size: 1.2rem;
        max-width: 60vw;
    }

    .nav-item {
        font-size: 1.2rem;
        height: 5rem;
        width: 5rem;
    }

    .content {
        font-size: 1.2rem;
        width: 48rem;
    }
}
