<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>MissLightman.tech</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
</head>
<body>
    <header class="header" role="banner">        
        <h1 class="header-title"><a href="/">Miss Lightman<span class="header-tld">.tech<span></a></h1>    
    </header>

    <main id="content" class="content" role="main">
        {{ content }}
    </main>
</body>
</html>
